@charset "UTF-8";
/*-----------------------------
* 基本ブロック（継承して利用）
-----------------------------*/
// 両方設定
%ext_base_block {
	position: relative;
	@include desktop {
		width: $contentBaseWidgth_PC;
		margin-left: auto;
		margin-right: auto;
	}
	@include smartphone {
		width: $spBaseWidth;
		margin: 0 auto;
	}
}

// PCだけ設定
%ext_base_block_pc {
	@include desktop {
		position: relative;
		width: $contentBaseWidgth_PC;
		margin-left: auto;
		margin-right: auto;
	}
}

// スマホだけ設定
%ext_base_block_sp {
	@include smartphone {
		position: relative;
		margin-left: 20px;
		margin-right: 20px;
	}
}


/** ---------------------
 * 要素ごとのCSS
 * ------------------- */
// PCのみ表示
.only_pc {
	@include smartphone {
		display: none;
	}
}

// SPのみ表示
.only_sp {
	display: none;
	@include smartphone {
		display: inherit;
	}
}

// ボタンのロールオーバー
.btnImg_hover {
	@include desktop {
		transition: all 0.3s $ease-in-out;
		&:hover {
			opacity: 0.6;
		}
	}
}

// 文字を小さくする ※Chromeで10px以下にならないため、transformで制御する
.subsmall {
	display: inline-block;
	text-indent: 0;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transform-origin: 25% 70%;
	-ms-transform-origin: 25% 70%;
	transform-origin: 25% 70%;
}


/** ---------------------
 * 全体共通CSS
 * ------------------- */
body {
	background-color: $baseBkgColor;
	color: $base-font-color;
	font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	& > img {
		// 計測タグが生成するimgタグの影響で余白が出てしまうため
		position: absolute;
		@include smartphone {
			max-width: 100%;
	        height: auto;
		}
	}
	@include desktop {
		font-size: $base-font-size;
		min-width: $contentBaseWidgth_PC;
	}
	@include smartphone {
		min-width: inherit;
		font-size: $base-font-size_SP;
		-webkit-text-size-adjust: 100%;
	}
}

// aタグのリンク文字
a,
a:link, // 未訪問のリンク
a:visited,
a:hover,
a:active { // クリックしてから離されるまでの状態
	color: $linkColor;
	text-decoration: none;
}


/** ---------------------
 * ヘッダーCSS
 * ------------------- */
header {
	background-color: #fff;
	@include desktop {
		border-bottom: 1px solid #f8f8f8;
	}
	@include smartphone {
		width: 100%;
	}
	.header_contentes {
		@extend %ext_base_block;
		display: flex;
		@include desktop {
			margin: 0 auto;
			padding: 1px 0 0;
		}
		@include smartphone {
			padding: percentage(5 / 640) 0;
			background-color: #fff;
		}
		.header_logo {
			a {
				display: block;
			}
			@include desktop {
				margin: 0 11px 3px 15px;
			}
			@include smartphone {
				width: percentage(434 / 580);
				margin-right: percentage(63 / 580);
				margin-left: percentage(-8 / 580);
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		nav {
			@include smartphone {
				position: absolute;
				top: 0;
				width: percentage(640 / 580);
				margin: percentage(128 / 580) 0 0 percentage(-30 / 580);
				background-color: #f9f9f9;
				&:after {
					content: "";
					display: block;
					position: absolute;
					width: 100%;
					bottom: 0;
					border-bottom: 4px solid #eee;
				}
			}
			ul {
				display: flex;
				justify-content: space-between;
				@include smartphone {
					width: percentage(478 / 640);
					margin-left: percentage(30 / 640);
					padding-right: percentage(55 / 640);
					background: url(#{$imgPath}header_nav_btn.png) no-repeat 100% 50%;
				}
				li {
					@include smartphone {
						position: relative;
						font-size: 4.06vw;
						padding: percentage(26 / 640) 0 percentage(21 / 640);
						&:first-child {
							padding: percentage(28 / 640) percentage(17 / 640) percentage(34 / 640) percentage(17 / 640);
							font-weight: bold;
							&:after {
								content: "";
								display: block;
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								margin-top: percentage(70 / 640);
								border-bottom: 4px solid #000;
								z-index: 2;
							}
						}
						&:nth-last-child(-n+3) {
							display: none;
						}
					}
					a:link,
					a:visited,
					a:hover,
					a:active {
						color: #666674;
						text-decoration: none;
					}
					a {
						@include desktop {
							display: inline-block;
							padding: 23px 7px 26px;
							font-size: 12px;
							&:hover {
								box-sizing: border-box;
								border-bottom: 2px solid #000;
							}
						}
					}
				}
			}
		}
		.nav_icon {
			@include desktop {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 120px;
				margin-left: auto;
				margin-right: 16px;
			}
			@include smartphone {
				position: relative;
				width: percentage(90 / 580);
				margin-top: percentage(19 / 580);
			}
			li {
				a {
					display: block;
				}
				@include smartphone {
					position: absolute;
					img {
						width: 100%;
						height: auto;
					}
				}
			}
			@include smartphone {
				.nav_icon_search {
					width: percentage(27 / 90);
					left: percentage(63 / 90);
					top: percentage(54 / 90);
				}
				.nav_icon_info {
					width: percentage(31 / 90);
					top: percentage(51 / 90);
				}
				.nav_icon_switch {
					width: percentage(25 / 90);
					left: percentage(3 / 90);
				}
				.nav_icon_hamBtn {
					width: percentage(25 / 90);
					left: percentage(64 / 90);
					top: percentage(4 / 90);
				}
			}
		}
	}
}


/** ---------------------
 * メインビジュアルエリアCSS
 * ------------------- */
.mv_area {
	@include desktop {
		margin-bottom: 50px;
		background: url(#{$imgPath}mv_bg.png) no-repeat 50% 50%;
		background-size: cover;
	}
	@include smartphone {
		margin-bottom: percentage(50 / 640);
		background: url(#{$imgPath}mv_bg_sp.png) no-repeat 50% 50%;
		background-size: cover;
	}
	.mv_contents {
		@extend %ext_base_block;
		@include desktop {
			@include clearfix;
			margin: 0 auto;
			padding-top: 373px;
		}
		@include smartphone {
			position: relative;
			top: 0;
			padding-top: percentage(613 / 640);
		}
		h1 {
			@include desktop {
				float: left;
				margin: 6px 33px 0 4px;
			}
			@include smartphone {
				width: percentage(545 / 580);
				margin: 0 auto percentage(37 / 640);
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		.mv_copy {
			@include desktop {
				float: left;
				margin-bottom: 8px;
				@include backgroundFig(506px, 33px, "mv_copy.png");
			}
			@include smartphone {
				position: absolute;
				top: 0;
				right: 0;
				margin-right: percentage(-4 / 580);
				margin-top: percentage(118 / 580);
				@include backgroundFigSP(percentage(188 / 580), percentage(306 / 580), "mv_copy_sp.png");
			}
		}
		.mv_date {
			@include desktop {
				float: left;
				margin: 0 0 4px 1px;
				@include backgroundFig(505px, 103px, "mv_date.png");
			}
			@include smartphone {
				margin-left: percentage(-30 / 580);
				@include backgroundFigSP(percentage(640 / 580), percentage(130 / 580), "mv_date_sp.png");
			}
		}
		.mv_credit {
			@include desktop {
				float: right;
				margin-bottom: 6px;
				font-size: 14px;
			}
			@include smartphone {
				position: absolute;
				bottom: percentage(140 / 942);
				right: 0;
				font-size: 2.5vw;
			}
		}
	}
}


/** ---------------------
 * アバウトエリアCSS
 * ------------------- */
.about_area {
	@extend %ext_base_block;
	h2, p {
		margin: 0 auto;
		@include desktop {
			text-align: center;
		}
	}
	.about_copy {
		@include desktop {
			margin-bottom: 29px;
			@include backgroundFig(554px, 42px, "about_copy.png");
		}
		@include smartphone {
			margin-bottom: percentage(50 / 580);
			@include backgroundFigSP(percentage(580 / 580), percentage(145 / 580), "about_copy_sp.png");
		}
	}
	.about_ttl {
		@include desktop {
			margin-bottom: 30px;
			@include backgroundFig(783px, 56px, "about_ttl.png");
		}
		@include smartphone {
			margin-bottom: percentage(41 / 580);
			@include backgroundFigSP(percentage(581 / 580), percentage(42 / 580), "about_ttl_sp.png");
		}
	}
	.about_date {
		@include desktop {
			margin-bottom: 33px;
			@include backgroundFig(449px, 22px, "about_date.png");
		}
		@include smartphone {
			margin-bottom: percentage(45 / 580);
			@include backgroundFigSP(percentage(513 / 580), percentage(25 / 580), "about_date.png");
		}
	}
	.about_desc {
		@include desktop {
			margin-bottom: 34px;
			font-size: 18px;
			line-height: 1.77em;
		}
		@include smartphone {
			margin-bottom: percentage(42 / 580);
			line-height: 1.58em;
		}
	}
	.about_present {
		display: flex;
		justify-content: space-between;
		@include desktop {
			width: 706px;
			margin: 0 auto 92px;
		}
		@include smartphone {
			margin-bottom: percentage(97 / 580);
		}
		li {
			@include smartphone {
				width: percentage(272 / 580);
				height: percentage(272 / 580);
				p > img {
					width: 100%;
					height: auto;
				}
			}
		}
		.present_best {
			@include desktop {
				margin-right: 89px;
			}
		}
	}
}


/** ---------------------
 * ステップエリアCSS
 * ------------------- */
.steps_area {
	@extend %ext_base_block;
	@include desktop {
		margin-bottom: 81px;
	}
	@include smartphone {
		margin-bottom: percentage(72 / 580);
	}
	h2, p, h3 {
		margin: 0 auto;
		@include desktop {
			font-size: 20px;
			text-align: center;
		}
	}
	.steps_ttl {
		@include desktop {
			margin-bottom: 34px;
			@include backgroundFig(278px, 66px, "steps_ttl.png");
		}
		@include smartphone {
			margin-bottom: percentage(30 / 580);
			@include backgroundFigSP(percentage(337 / 580), percentage(80 / 580), "steps_ttl_sp.png");
		}
	}
	// 共通CSS
	.steps_desc {
		@include desktop {
			margin-bottom: 31px;
		}
		@include smartphone {
			margin-bottom: percentage(25 / 580);
			line-height: 1.58em;
		}
	}
	// STEP1のCSS
	.step1 {
		@include desktop {
			padding-bottom: 49px;
		}
		@include smartphone {
			margin-bottom: percentage(49 / 580);
		}
		.step1_sub_ttl {
			@include desktop {
				margin-bottom: 14px;
				@include backgroundFig(161px, 28px, "step1_sub_ttl.png");
			}
			@include smartphone {
				margin-bottom: percentage(15 / 580);
				@include backgroundFigSP(percentage(180 / 580), percentage(28 / 580), "step1_sub_ttl_sp.png");
			}
		}
		.steps_follow_btn > a {
			display: block;
			margin: 0 auto;
			color: #fff;
			@include desktop {
				width: 394px;
				padding: 24px 0 16px 16px;
				background: url(#{$imgPath}steps_follow_btn_icon.png) no-repeat 121px 50% #00aced;
				background-size: 32px 26px;
				font-size: 18px;
			}
			@include smartphone {
				width: percentage(304 / 580);
				padding: percentage(24 / 580) 0 percentage(24 / 580) percentage(146 / 580);
				background: url(#{$imgPath}steps_follow_btn_icon.png) no-repeat percentage(98 / 450) 50% #00aced;
				font-size: 4.375vw;
			}
		}
		.steps_follow_btn > a:hover {
			color: #00aced;
			@include desktop {
				width: 394px;
				padding: 24px 0 16px 16px;
				background: url(#{$imgPath}steps_follow_btn_icon_ov.png) no-repeat 121px 50% #fff;
				background-size: 32px 26px;
				font-size: 18px;
			}
		}
	}
	// STEP2のCSS
	.step2 {
		.step2_sub_ttl {
			@include desktop {
				margin-bottom: 16px;
				@include backgroundFig(161px, 28px, "step2_sub_ttl.png");
			}
			@include smartphone {
				margin-bottom: percentage(15 / 580);
				@include backgroundFigSP(percentage(180 / 580), percentage(28 / 580), "step2_sub_ttl_sp.png");
			}
		}
		.step2_desc {
			@include smartphone {
				text-align: center;
			}
		}
		.tw_list {
			@include clearfix;
			// リストの共通CSS
			li {
				position: relative;
				@include desktop {
					float: left;
					width: 492px;
					height: 380px;
					margin-bottom: 40px;
				}
				@include smartphone {
					width: 100%;
					padding-top: percentage(580 / 580);
					margin-bottom: percentage(30 / 580);
					img {
						width: 100%;
						height: auto;
					}
				}
				&:nth-child(odd) {
					@include desktop {
						margin-right: 40px;
					}
				}
				.list_contents {
					position: absolute;
					left: 50%;
					background: rgba(0, 0, 0, 0.5);
					@include desktop {
						bottom: 11px;
						width: 470px;
						height: 124px;
						margin-left: -235px;
					}
					@include smartphone {
						bottom: percentage(13 / 580);
						width: percentage(554 / 580);
						margin-left: percentage(-277 / 580);
					}
					.list_name {
						@include desktop {
							padding: 14px 0 13px;
						}
						@include smartphone {
							padding: percentage(24 / 554) 0 percentage(136 / 554);
						}
					}
					.list_tw_btn {
						a {
							position: absolute;
							display: block;
							@include desktop {
								bottom: 12px;
								left: 50%;
								margin-left: -125px;
								@include backgroundFig(250px, 42px, "list_tw_btn.png");
								&:hover {
									@include backgroundFig(250px, 42px, "list_tw_btn_ov.png");
								}
							}
							@include smartphone {
								bottom: 0;
								left: 50%;
								margin-left: percentage(-150 / 554);
								margin-bottom: percentage(30 / 554);
								@include backgroundFigSP(percentage(300 / 554), percentage(80 / 554), "list_tw_btn_sp.png");
							}
						}
					}
				}
			}
			// 各国別のCSS（PC版）
			@include desktop {
				// ボリビア
				.list_bolivia {
					background: url(#{$imgPath}steps_list_bolivia_bg.png) no-repeat 50% 50%;
				}
				// フィンランド
				.list_finland {
					background: url(#{$imgPath}steps_list_finland_bg.png) no-repeat 50% 50%;
				}
				// フランス
				.list_france {
					background: url(#{$imgPath}steps_list_france_bg.png) no-repeat 50% 50%;
				}
				// ベネズエラ
				.list_venezuela {
					background: url(#{$imgPath}steps_list_venezuela_bg.png) no-repeat 50% 50%;
				}
				// スペイン
				.list_spain {
					background: url(#{$imgPath}steps_list_spain_bg.png) no-repeat 50% 50%;
					margin-bottom: 10px;
				}
				// 日本
				.list_japan {
					background: url(#{$imgPath}steps_list_japan_bg.png) no-repeat 50% 50%;
					margin-bottom: 10px;
				}
			}
			// 各国別のCSS（SP版）
			@include smartphone {
				// ボリビア
				.list_bolivia {
					background: url(#{$imgPath}steps_list_bolivia_bg_sp.png) no-repeat 50% 50%;
					background-size: contain;
					.list_name {
						width: percentage(346 / 554);
					}
				}
				// フィンランド
				.list_finland {
					background: url(#{$imgPath}steps_list_finland_bg_sp.png) no-repeat 50% 50%;
					background-size: contain;
					.list_name {
						width: percentage(423 / 554);
					}
				}
				// フランス
				.list_france {
					background: url(#{$imgPath}steps_list_france_bg_sp.png) no-repeat 50% 50%;
					background-size: contain;
					.list_name {
						width: percentage(335 / 554);
					}
				}
				// ベネズエラ
				.list_venezuela {
					background: url(#{$imgPath}steps_list_venezuela_bg_sp.png) no-repeat 50% 50%;
					background-size: contain;
					.list_name {
						width: percentage(463 / 554);
					}
				}
				// スペイン
				.list_spain {
					background: url(#{$imgPath}steps_list_spain_bg_sp.png) no-repeat 50% 50%;
					background-size: contain;
					.list_name {
						width: percentage(345 / 554);
					}
				}
				// 日本
				.list_japan {
					margin-bottom: percentage(20 / 580);
					background: url(#{$imgPath}steps_list_japan_bg_sp.png) no-repeat 50% 50%;
					background-size: contain;
					.list_name {
						width: percentage(303 / 554);
					}
				}
			}
		}
		.steps_credit {
			text-align: right;
			@include desktop {
				font-size: 11px;
			}
			@include smartphone {
				font-size: 2.18vw;
			}
		}
	}
}


/** ---------------------
 * 応募要項CSS
 * ------------------- */
.guideline_area {
	@extend %ext_base_block;
	@include desktop {
		margin-bottom: 70px;
	}
	@include smartphone {
		margin-bottom: percentage(90 / 580);
	}
	.guideline_ttl {
		margin: 0 auto;
		@include desktop {
			margin-bottom: 31px;
			@include backgroundFig(278px, 66px, "guideline_ttl.png");
		}
		@include smartphone {
			margin-bottom: percentage(54 / 580);
			@include backgroundFigSP(percentage(337 / 580), percentage(80 / 580), "guideline_ttl_sp.png");
		}
	}
	.guideline_contents {
		@include desktop {
			height: 652px;
			padding: 30px 0;
			border: 1px solid #828491;
		}
		@include smartphone {
			line-height: 1.58em;
		}
		.guideline_inner {
			@include desktop {
				width: 942px;
				height: 652px;
				margin: 0 auto;
				line-height: 1.72em;
				overflow: auto;
			}
		}
		.date_desc,
		.howto_list,
		.present_desc {
			@include desktop {
				margin-bottom: 24px;
			}
			@include smartphone {
				margin-bottom: percentage(40 / 580);
			}
		}
		.howto_list > li,
		.caution_list > li {
			padding-left: 1em;
			text-indent: -1em;
		}
	}
}


/** ---------------------
 * バナーCSS
 * ------------------- */
.detail_btn {
	a {
		@include desktop {
			margin: 0 auto 60px;
			@include backgroundFig(620px, 66px, "detail_btn.png");
			background-position: 0 0;
			&:hover {
				background-position: 0 -66px;
			}
		}
		@include smartphone {
			margin: 0 auto percentage(80 / 640);
			@include backgroundFigSP(percentage(580 / 630), percentage(139 / 580), "detail_btn_sp.png");
		}
	}
}


/** ---------------------
 * フッターシェアCSS
 * ------------------- */
.footer_sns {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	@include desktop {
		width: 200px;
		margin-bottom: 70px;
	}
	@include smartphone {
		width: percentage(228 / 640);
		margin-bottom: percentage(100 / 640);
	}
	li {
		display: block;
		position: relative;
		overflow: hidden;
		@include desktop {
			width: 80px;
			height: 80px;
		}
		@include smartphone {
			width: percentage(88 / 228);
			height: percentage(88 / 228);
		}
		a {
			display: block;
			&:hover {
				@include desktop {
					position: absolute;
					left: 0;
					top: -80px;
				}
			}
		}
	}
	.footer_sns_fb > a {
		@include desktop {
			@include backgroundFig(80px, 160px, "footer_sns_fb.png");
			background-position: left top;
		}
		@include smartphone {
			@include backgroundFigSP(percentage(88 / 88), percentage(88 / 88), "footer_sns_fb_sp.png");
		}
	}
	.footer_sns_tw > a {
		@include desktop {
			@include backgroundFig(80px, 160px, "footer_sns_tw.png");
			background-position: left top;
		}
		@include smartphone {
			@include backgroundFigSP(percentage(88 / 88), percentage(88 / 88), "footer_sns_tw_sp.png");
		}
	}
}


/** ---------------------
 * フッターCSS
 * ------------------- */
footer {
	background-color: #fff;
	.footer_contens {
		@extend %ext_base_block;
		color: #666666;
		text-align: center;
		@include desktop {
			margin: 0 auto;
			padding: 10px 0;
			font-size: 12px;
			line-height: 1.6em;
		}
		@include smartphone {
			padding: percentage(30 / 640) 0;
			font-size: 2.81vw;
			line-height: 1.6em;
		}
	}
}
