@charset "UTF-8";
/*-----------------------------
* 基本ブロック（継承して利用）
-----------------------------*/
// 両方設定
%ext_base_block {
	position: relative;
	@include desktop {
		width: $contentBaseWidgth_PC;
		margin-left: auto;
		margin-right: auto;
	}
	@include smartphone {
		width: $spBaseWidth;
		margin: 0 auto;
	}
}

// PCだけ設定
%ext_base_block_pc {
	@include desktop {
		position: relative;
		width: $contentBaseWidgth_PC;
		margin-left: auto;
		margin-right: auto;
	}
}

// スマホだけ設定
%ext_base_block_sp {
	@include smartphone {
		position: relative;
		margin-left: 20px;
		margin-right: 20px;
	}
}


/** ---------------------
 * 要素ごとのCSS
 * ------------------- */
// PCのみ表示
.only_pc {
	@include smartphone {
		display: none;
	}
}

// SPのみ表示
.only_sp {
	display: none;
	@include smartphone {
		display: inherit;
	}
}

// ボタンのロールオーバー
.btnImg_hover {
	@include desktop {
		transition: all 0.3s $ease-in-out;
		&:hover {
			opacity: 0.6;
		}
	}
}

// 文字を小さくする ※Chromeで10px以下にならないため、transformで制御する
.subsmall {
	display: inline-block;
	text-indent: 0;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transform-origin: 25% 70%;
	-ms-transform-origin: 25% 70%;
	transform-origin: 25% 70%;
}


/** ---------------------
 * 全体共通CSS
 * ------------------- */
body {
	background-color: $baseBkgColor;
	color: $base-font-color;
	font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	& > img {
		// 計測タグが生成するimgタグの影響で余白が出てしまうため
		position: absolute;
		@include smartphone {
			max-width: 100%;
	        height: auto;
		}
	}
	@include desktop {
		font-size: $base-font-size;
		min-width: $contentBaseWidgth_PC;
	}
	@include smartphone {
		min-width: inherit;
		-webkit-text-size-adjust: 100%;
	}
}

// aタグのリンク文字
a,
a:link, // 未訪問のリンク
a:visited,
a:hover,
a:active { // クリックしてから離されるまでの状態
	color: $linkColor;
	text-decoration: none;
}


/** ---------------------
 * ヘッダーCSS
 * ------------------- */
header {
	background-color: #fff;
	@include desktop {
		border-bottom: 1px solid #f8f8f8;
	}
	.header_contentes {
		@extend %ext_base_block;
		display: flex;
		@include desktop {
			margin: 0 auto;
			padding: 1px 0 0;
		}
		@include smartphone {
			padding: percentage(30 / 640) 0;
			background-color: #fff;
		}
		.header_logo {
			a {
				display: block;
			}
			@include desktop {
				margin: 0 11px 3px 15px;
			}
		}
		nav {
			ul {
				display: flex;
				justify-content: space-between;
				li {
					a:link,
					a:visited,
					a:hover,
					a:active {
						color: #666674;
						text-decoration: none;
					}
					a {
						@include desktop {
							display: inline-block;
							padding: 23px 7px 26px;
							font-size: 12px;
							&:hover {
								box-sizing: border-box;
								border-bottom: 2px solid #000;
							}
						}
					}
				}
			}
		}
		.nav_icon {
			@include desktop {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 120px;
				margin-left: auto;
				margin-right: 16px;
			}
			li {
				a {
					display: block;
				}
			}
		}
	}
}


/** ---------------------
 * メインビジュアルエリアCSS
 * ------------------- */
.mv_area {
	@include desktop {
		margin-bottom: 50px;
		background: url(#{$imgPath}mv_bg.png) no-repeat 50% 50%;
		background-size: cover;
	}
	.mv_contents {
		@extend %ext_base_block;
		@include desktop {
			@include clearfix;
			margin: 0 auto;
			padding-top: 373px;
		}
		@include smartphone {
			height: 2000px;
			padding-top: 20px;
		}
		h1 {
			@include desktop {
				float: left;
				margin: 6px 33px 0 4px;
			}
		}
		.mv_copy {
			@include desktop {
				float: left;
				margin-bottom: 8px;
				@include backgroundFig(506px, 33px, "mv_copy.png");
			}
		}
		.mv_date {
			@include desktop {
				float: left;
				margin: 0 0 4px 1px;
				@include backgroundFig(505px, 103px, "mv_date.png");
			}
		}
		.mv_credit {
			font-size: 14px;
			@include desktop {
				float: right;
				margin-bottom: 6px;
			}
		}
	}
}


/** ---------------------
 * アバウトエリアCSS
 * ------------------- */
.about_area {
	@extend %ext_base_block;
	h2, p {
		margin: 0 auto;
		text-align: center;
	}
	.about_copy {
		@include desktop {
			margin-bottom: 29px;
			@include backgroundFig(554px, 42px, "about_copy.png");
		}
	}
	.about_ttl {
		@include desktop {
			margin-bottom: 30px;
			@include backgroundFig(783px, 56px, "about_ttl.png");
		}
	}
	.about_date {
		@include desktop {
			margin-bottom: 33px;
			@include backgroundFig(449px, 22px, "about_date.png");
		}
	}
	.about_desc {
		@include desktop {
			margin-bottom: 34px;
			font-size: 18px;
			line-height: 1.77em;
		}
	}
	.about_present {
		@include desktop {
			display: flex;
			justify-content: space-between;
			width: 706px;
			margin: 0 auto 92px;
		}
		.present_best {
			@include desktop {
				margin-right: 89px;
			}
		}
	}
}


/** ---------------------
 * ステップエリアCSS
 * ------------------- */
.steps_area {
	@extend %ext_base_block;
	h2, p, h3 {
		margin: 0 auto;
		font-size: 20px;
		text-align: center;
	}
	.steps_ttl {
		@include desktop {
			margin-bottom: 34px;
			@include backgroundFig(278px, 66px, "steps_ttl.png");
		}
	}
	// 共通CSS
	.steps_desc {
		@include desktop {
			margin-bottom: 31px;
		}
	}
	// STEP1のCSS
	.step1 {
		@include desktop {
			padding-bottom: 49px;
		}
		.step1_sub_ttl {
			@include desktop {
				margin-bottom: 14px;
				@include backgroundFig(161px, 28px, "step1_sub_ttl.png");
			}
		}
		.steps_follow_btn > a {
			display: block;
			margin: 0 auto;
			color: #fff;
			@include desktop {
				width: 410px;
				padding: 24px 0 16px 10px;
				background: url(#{$imgPath}steps_follow_btn_icon.png) no-repeat 121px 50% #00aced;
				background-size: 32px 26px;
				font-size: 18px;
			}
		}
		.steps_follow_btn > a:hover {
			color: #00aced;
			@include desktop {
				width: 400px;
				padding: 24px 0 16px 10px;
				background: url(#{$imgPath}steps_follow_btn_icon_ov.png) no-repeat 121px 50% #fff;
				background-size: 32px 26px;
				font-size: 18px;
			}
		}
	}
	// STEP2のCSS
	.step2 {
		.step2_sub_ttl {
			@include desktop {
				margin-bottom: 16px;
				@include backgroundFig(161px, 28px, "step2_sub_ttl.png");
			}
		}
	}
}


/** ---------------------
 * フッターCSS
 * ------------------- */
footer {
	background-color: #fff;
	.footer_contens {
		@extend %ext_base_block;
		@include desktop {
			margin: 0 auto;
			padding: 20px 0;
		}
		@include smartphone {
			padding: 20px 0;
		}
		.copyright {
			text-align: center;
			@include desktop {
				font-family: "Quicksand", "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
				font-size: 10px;
				line-height: 1em;
			}
			@include smartphone {
				width: 100%;
				font-size: 8px;
			}
		}
	}
}
